body{
	background-color: #ffffdd;
	margin: 0;
	font-size: 1.8em;
}
#header{
	height: 100px;
	padding: 1em;
	background-color: #557799;
}

#page{
	margin: 2em auto;
	padding: 1em;
	width: 800px;
	border: 4px dotted #6a6;
	background-color: #fff;
}

h1{
	margin:0;
	font-size: 3em;
}

p.black{
	color: #000;
}

p.green{
	color: #0a0;
}

p.red{
	color: #a00;
}